:root {
	--main-height: 50px;
	--placeholder-top: calc(var(--main-height, 50px) * 0.35);
	--error-color: red;
}
div.floating-textfield-widget {
	height: 50px;
	height: var(--main-height);
}
input.floating-textfield {
	height: inherit !important;
	padding-top: calc(50px * 0.35) !important;
	padding-top: var(--placeholder-top) !important;
}
div.floating-textfield-frame {
	position: relative;
	padding-left: 10px;
	height: 1px;
	cursor: text;
}
div.floating-textfield-placeholder {
	position: absolute;
	top: calc(50px * 0.35);
	top: var(--placeholder-top);
	font-size:12px;
	-webkit-transition: top 0.3s;
	-ms-transition: top 0.3s;
	-moz-transition: top 0.3s;
	-o-transition: top 0.3;
	transition: top 0.3s;
}

div.floating-textfield-placeholder-focus {
	font-weight: bold;
	font-size:11px;
	top: 5px;
}
div.placeholder-error-text {
	font-weight: bold;
	color: red;
	color: var(--error-color, red);
	top: 5px;
}
div.placeholder-error {
	color: red;
	color: var(--error-color, red);
	top: 17px;
	top: var(--placeholder-top);
}