:root {
	--error-color: red;
	--placeholder-font-size: 12px;
}
.floatingTextFieldWidget {
	background-color: white;
	border-radius: 4px;
}
.floatingTextFieldWidget > .placeholderSpan {
	position: absolute;
	cursor: text;	
}
.floatingTextFieldWidget > .floatingTextField {
	padding-top: 19px;
	position: relative;
	z-index: 100;
	background: transparent;
}
.floatingTextFieldWidget > .placeholderSpan > .placeholder {
	position: relative;
	font-size: 12px;
	font-size: var(--placeholder-font-size);
	top: 25%;
	padding-left: 7px;
	-webkit-transition: top 0.3s ease-out, font-size 0.3s ease-out;
	-moz-transition: top 0.3s ease-out, font-size 0.3s ease-out;
	-o-transition: top 0.3s ease-out, font-size 0.3s ease-out;
	transition: top 0.3s ease-out, font-size 0.3s ease-out;
}
.floatingTextFieldWidgetFocused > .placeholderSpan > .placeholder {
	top: 0px !important;
	font-weight: bold;
}
.floatingTextFieldWidgetError > .placeholderSpan > .placeholder {
	font-weight: bold;
	color: red;
	color: var(--error-color);
}